# =============== #
# Unity generated #
# =============== #
/cs2010/[Tt]emp/
/cs2010/[Oo]bj/
/cs2010/[Bb]uild
/cs2010/[Bb]uilds/
/cs2010/[Ll]ibrary/
sysinfo.txt
*.stackdump
/cs2010/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/

# Misc
cs2010/ProjectSettings/**
cs2010/Library/metadata/**
cs2010/cs2010.sln
cs2010/cs2010.userprefs
